{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

{# Overrides for the contact form fields row etc #}
{% block form_row %}
    {% spaceless %}
    <div class="large-12 small-12 columns">
        {{ form_label(form) }}
        <div class="formFieldContainer">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <small class="error">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            </small>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{# Overrides for the sonata media form type in sonata admin #}

{% block sonata_media_type_widget %}
    <div class="row">
        <div class="mediaPreviewHolder large-12 small-12 columns">
            {% if value is not empty and value.providerReference %}
                {% if value.providerName == 'sonata.media.provider.image' %}
                    <div class="imagePreview row">
                        <div class="columns large-12 small-12 controls">
                            <a class="imageLink" href="{% path value.id, 'big' %}" target="_blank">
                                {% thumbnail value.id, 'admin' with {'width': 70 , 'height': 70} %}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {% if value.providerName == 'sonata.media.provider.youtube' %}
                    <div class="imagePreview row">
                        <div class="columns large-12 small-12 controls videoPreview">
                            {% media value.id, 'medium' %}
                            <p>Video Source:<br>
                                <a href="https://www.youtube.com/watch?v={{ value.providerReference }}" target="_blank">https://www.youtube.com/watch?v={{ value.providerReference }}</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
                {% if value.providerName == 'sonata.media.provider.vimeo' %}
                    <div class="imagePreview row">
                        <div class="columns large-12 small-12 controls videoPreview">
                            {% media value.id, 'medium' %}
                            <p>Video Source:<br>
                                <a href="https://vimeo.com/{{ value.providerReference }}" target="_blank">https://vimeo.com/{{ value.providerReference }}</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
                {% if value.providerName == 'sonata.media.provider.file' %}
                    <div class="imagePreview row">
                        <div class="columns large-12 small-12 filePreview">
                            <a class="fileLink" href="{{ path('sonata_media_download', {'id': value.id}) }}" target="_blank">
                                {{ value.name }}
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="imagePreview newMediaPreview row">
                    <div class="columns large-12 small-12 controls filePreview">
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="columns large-12 small-12">
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock sonata_media_type_widget %}
