<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-GB"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-GB"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />

        <title>{% block title %}Page Title{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Page Description{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}Page keywords{% endblock %}">

        <link rel="alternate" hreflang="en" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" href="/images/favicons/favicon.ico">

        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">

        <link rel="icon" type="image/png" href="/images/favicons/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">

        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css">

        {% stylesheets output="css/compiled.css" 'css/app.css' 'css/legacy.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}

        {% javascripts filter="minifier_js" output='js/modernizr.min.js' 'bower_components/modernizr/modernizr.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!--[if !IE]><!-->
        <script>
            if (/*@cc_on!@*/false) {
                document.documentElement.className += ' is-ie';
            }
        </script>
        <!--<![endif]-->

        <meta property="og:title" content="{% block OgTitle %}Page Title{% endblock %}">
        <meta property='og:type' content='website' />
        <meta property="og:site_name" content="{% block OgSiteName %}Site Title{% endblock %}">
        <meta property="og:description" content="{% block metaOgDescription %}Page Description{% endblock %}">
        <meta property="og:image" content="{% block OgImage %}{{ app.request.uriForPath('/images/site_assets/sitelogo.jpg') }}{% endblock %}">

        <meta name="author" content="{% block metaAuthor %}George Bardis{% endblock %}">

        <link rel='canonical' href='{{ app.request.getHttpHost() }}{{ app.request.getRequestURI() }}' />
        <link rel="alternate" hreflang="en" href="{{ app.request.getHttpHost() }}{{ app.request.getRequestURI() }}" />

        <link rel="shortcut icon" href="{{ app.request.uriForPath('/favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ app.request.uriForPath('/apple-touch-icon.png') }}" />

        <!--[if !IE]><!-->
        <script>
            if (/*@cc_on!@*/false) {
                document.documentElement.className += ' is-ie';
            }
        </script>
        <!--<![endif]-->

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
        <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script src="/js/polyfills/rem.min.js"></script>
        <![endif]-->

    </head>

    {% flush %}

    <body>
        <div class="superWrapper">
            <div class="wrapper">
            {% block body_start %}{% endblock %}
            <header class="row header collapse">
                <div id="logo" class="columns small-12 large-3">
                    <h1 class="logo">
                        <a href="{{ url('PageBundle_index', { 'alias': 'index' }) }}" title="{% block siteLogoTitle %}Page Title{% endblock %}">
                            <img src="{% block sitelogoImage %}{{ app.request.uriForPath('/images/site_assets/siteLogo.png') }}{% endblock %}" alt="{% block siteLogoKeywords %}Site Keywords{% endblock %}" />
                            <span class="inv">{% block siteLogoDescription %}Page Description{% endblock %}</span>
                        </a>
                    </h1>
                </div>
                <div class="columns small-12 large-9">
                    {% include '::site_top_nav.html.twig' %}
                </div>
            </header>

            <div class="row pageContents">
            {% block content %}{% endblock %}
        </div>

        <footer class="row footer">
            {% include '::site_footer.html.twig' %}
        </footer>

        {% block modal %}
        {% endblock %}
    </div>
    </div>

    {% javascripts output='js/jquery.min.js' 'bower_components/jquery/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts output='js/compiled.min.js' 'js/app.min.js' %}

    <script type="text/javascript" src="{{ asset_url }}"></script>

    <!-- Proper defer loading of javascript (Source: http://www.feedthebot.com/pagespeed/defer-loading-javascript.html) -->
    <!--
    <script type="text/javascript">
            function downloadJSAtOnload() {
                    var element = document.createElement("script");
                    element.src = '{{ asset_url }}';
                    document.body.appendChild(element);
            }

            if (window.addEventListener){
                    window.addEventListener("load", downloadJSAtOnload, false);
            }
            else if (window.attachEvent){
                    window.attachEvent("onload", downloadJSAtOnload);
            }
            else {
                    window.onload = downloadJSAtOnload;
            }
    </script>
    -->
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
    {% block gAnalytics %}{% endblock %}

    </body>
</html>