<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Page Title{% endblock %}</title>
        <meta name="description" content="{% block metaDescription %}Page Description{% endblock %}">
        <meta name="keywords" content="{% block metaKeywords %}Page keywords{% endblock %}">

        <link rel="alternate" hreflang="en" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" href="{{ app.request.uriForPath('/images/favicons/favicon.ico') }}">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ app.request.uriForPath('/images/favicons/apple-touch-icon-152x152.png') }}">

        <link rel="icon" type="image/png" href="{{ app.request.uriForPath('/images/favicons/favicon-196x196.png') }}" sizes="196x196">
        <link rel="icon" type="image/png" href="{{ app.request.uriForPath('/images/favicons/favicon-160x160.png') }}" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ app.request.uriForPath('/images/favicons/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ app.request.uriForPath('/images/favicons/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ app.request.uriForPath('/images/favicons/favicon-32x32.png') }}" sizes="32x32">

        <!-- Styles -->
        {% stylesheets 'css/styles.css' output="css/release-styles.css" package='css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}

        <!--[if !IE]><!-->
        <script>
            if("ActiveXObject" in window){ document.documentElement.className += ' is-ie'; }
            if(/*@cc_on!@*/false) { document.documentElement.className += ' is-ie10'; }
            if(!(window.ActiveXObject) && "ActiveXObject" in window){ document.documentElement.className += ' is-ie11'; }
        </script>
        <!--<![endif]-->

        <!-- Twitter Cards -->
        <meta name="twitter:site" content="@{% block MetaTwitterUser %}{{ page.twitterUser }}{% endblock %}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% block MetaTwitterTitle %}Page Title | Site Title{% endblock %}" />
        <meta name="twitter:description" content="{% block MetaTwitterDescription %}Page Description{% endblock %}" />
        <meta name="twitter:image:src" content="{% block MetaTwitterImage %}{{ app.request.uriForPath('/images/favicons/logo_media.jpg') }}{% endblock %}" />

        <!-- Facebook Opengraph -->
        <meta property="og:title" content="{% block OgTitle %}Page Title | Site Title{% endblock %}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{% block OgSiteName %}Site Title{% endblock %}">
        <meta property="og:image" content="{% block OgImage %}{{ app.request.uriForPath('/images/favicons/logo_media.jpg') }}{% endblock %}" />
        <meta property="og:description" content="{% block metaOgDescription %}Page Description{% endblock %}" />

        <meta name="author" content="{% block metaAuthor %}George Bardis{% endblock %}">
    </head>

    {% flush %}

    <body>
        <div class="super-wrapper">
            <div id="wrapper" class="wrapper">
                {% block body_start %}{% endblock %}
                <div class="row expanded header-sticky-container" data-sticky-container>
                    <div class="header-wrapper row column is-anchored" data-options="marginTop:0;" data-sticky="" data-stick-to="top" data-sticky-on="small" data-check-every="25">
                        <header class="header row contain-to-grid">
                            <div id="cookie-acceptance" class="callout secondary is-hidden" data-closable>
                                <p>
                                    <small>
                                        We use cookies to personalise content and ads, to provide social media features and to analyse our traffic.
                                        We also share information about your use of our site with our social media, advertising and analytics partners
                                        who may combine it with other information you’ve provided to them or they’ve collected from your use of their
                                        services. <a href="/tnc#cookies" title="See details">See details</a>
                                    </small>
                                </p>
                                <button class="btn button accept accept-button" aria-label="Accept" title="Accept" type="button" data-close>
                                    <span aria-hidden="true">Accept</span>
                                </button>
                                <button class="close close-button" aria-label="Dismiss" title="Dismiss" type="button" data-close>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="logo" class="columns small-3 large-3">
                                <h1 class="logo">
                                    <a href="{{ url('PageBundle_index', { 'alias': 'index' }) }}" title="{% block siteLogoTitle %}Page Title{% endblock %}">
                                        <img src="{% block sitelogoImage %}{{ app.request.uriForPath('/images/site_assets/siteLogo.png') }}{% endblock %}" alt="{% block siteLogoKeywords %}Site Keywords{% endblock %}" />
                                        <span class="inv">{% block siteLogoDescription %}Page Description{% endblock %}</span>
                                    </a>
                                </h1>
                            </div>
                            <div class="columns small-12 large-9">
                                {% include '::site_top_nav.html.twig' %}
                            </div>
                            {% if logged_username is defined and logged_username is not null %}
                                <div class="columns small-12 large-9 float-right text-right">
                                    {% include '::user_header_nav.html.twig' %}
                                </div>
                            {% endif %}
                        </header>
                    </div>
                </div>

                <div class="row page-contents">
                    {% block content %}{% endblock %}
                </div>

                <div class="footer-wrapper row expanded">
                    <footer class="footer row contain-to-grid">
                        {% include '::site_footer.html.twig' %}
                    </footer>
                </div>

                {% block modal %}
                {% endblock %}
            </div>
        </div>

        {% javascripts 'js/scripts.min.js' output="js/release-scripts.min.js" package='js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}

        {% block gAnalytics %}{% endblock %}

    </body>
</html>
