<div class="twelve column {{ pageItem.pagetype }}Item {% if pageItem.introclass is not null %}{{ pageItem.introclass }}{% endif %}">
    {% if pageItem.introimage.id is defined %}
        {% if pageItem.alias is not null %}
            <a href="{{ app.request.getBaseURL() }}/Skeleton/{{ pageItem.alias }}" title="{{ pageItem.title }}" class="readMoreImage">
        {% else %}
            <a href="{{ url('SkeletonBundle_showSkeletonPage', { 'id': pageItem.id }) }}" title="{{ pageItem.title }}" class="readMoreImage">
        {% endif %}
                {% media pageItem.introimage.id, 'big' with {'alt': pageItem.title, 'title': ''} %}
            </a>
    {% else %}
        {% if pageItem.alias is not null %}
            <a href="{{ app.request.getBaseURL() }}/Skeleton/{{ pageItem.alias }}" title="{{ pageItem.title }}" class="readMoreImage">
        {% else %}
            <a href="{{ url('SkeletonBundle_showSkeletonPage', { 'id': pageItem.id }) }}" title="{{ pageItem.title }}" class="readMoreImage">
        {% endif %}
                <img src="{{ app.request.uriForPath('/images/site_assets/cat_item_bg_big.jpg') }}" alt="{{ pageItem.title }}" />
             </a>  
    {% endif %}
    
    <div class="introItemText">
        {% if pageItem.alias is not null %}
            <a href="{{ app.request.getBaseURL() }}/Skeleton/{{ pageItem.alias }}" title="{{ pageItem.title }}">
        {% else %}
            <h3><a href="{{ url('SkeletonBundle_showSkeletonPage', { 'id': pageItem.id }) }}" title="{{ pageItem.title }}">
        {% endif %}{{ pageItem.title }}
            </a></h3>
        {% if pageItem.tags is not null %}
            <span class="tags">
                {% for title in pageItem.tags %}
                <a class="tag" href="{{ app.request.getBaseURL() }}/Skeleton/tagged/{{ title|url_encode() }}" title="{{ title }}">
                    {{ title }} 
                </a>          
                {% endfor %} 
            </span>
        {% endif %}
        {% if pageItem.introtext is not null %}
            {{ pageItem.introtext|raw }}
        {% endif %}
        {% if pageItem.alias is not null %}
            <a href="{{ app.request.getBaseURL() }}/Skeleton/{{ pageItem.alias }}" title="Read more">
        {% else %}
            <a href="{{ url('SkeletonBundle_showSkeletonPage', { 'id': pageItem.id }) }}" title="Read more">
        {% endif %}
                <span>Read more</span>
            </a>
    </div>
</div>