{% if totalPages is defined %}
    {% if totalPages > 1 %}
<div class="twelve columns pagination">
    <ul class="menu link-list">
        <li>
            <a class="firstPageLink" href="{{ app.request.getBaseURL() }}/Skeleton/{{ page.alias }}/0/{% if totalpageitems %}{{ totalpageitems }}{% else %}0{% endif %}{% if linkUrlParams %}/{{ linkUrlParams }}{% endif %}" title="First Page">First Page</a>
        </li>
                {% if (currentpage - 1) >= 0 %}
        <li><a class="prevPageLink" href="{{ app.request.getBaseURL() }}/Skeleton/{{ page.alias }}/{{ currentpage - 1 }}/{% if totalpageitems %}{{ totalpageitems }}{% else %}0{% endif %}{% if linkUrlParams %}/{{ linkUrlParams }}{% endif %}" title="Previous Page">Previous Page</a></li>
                {% endif %}
                {% for i in 0..(totalPages - 1) %}
                    {% if i != currentpage %}
            <li><a class="pageNumber" href="{{ app.request.getBaseURL() }}/Skeleton/{{ page.alias }}/{{ i }}/{% if totalpageitems %}{{ totalpageitems }}{% else %}0{% endif %}{% if linkUrlParams %}/{{ linkUrlParams }}{% endif %}" title="Page {{ i }}">{{ i }}</a></li>
                    {% else %}
                <li><span class="pageNumber">{{ i }}</span></li>
                    {% endif %}
                {% endfor %}
                {% if (currentpage + 1) < totalPages %}
                    <li><a class="nextPageLink" href="{{ app.request.getBaseURL() }}/Skeleton/{{ page.alias }}/{{ currentpage + 1 }}/{% if totalpageitems %}{{ totalpageitems }}{% else %}0{% endif %}{% if linkUrlParams %}/{{ linkUrlParams }}{% endif %}" title="Next Page">Next Page</a></li>
                {% endif %} 
                        <li><a class="lastPageLink" href="{{ app.request.getBaseURL() }}/Skeleton/{{ page.alias }}/{{ totalPages - 1 }}/{% if totalpageitems %}{{ totalpageitems }}{% else %}0{% endif %}{% if linkUrlParams %}/{{ linkUrlParams }}{% endif %}" title="Last Page">Last Page</a></li>
                    </ul>
                </div>
    {% endif %}
{% endif %}