    <form id="subscribeForm" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        {{ form_widget(form) }}
        {#
            {{ form_start(form) }}
            <span class="noticeMsg">* Mandatory fields</span>
            {{ form_errors(form) }}
            <div class="row formSeperator">
                <div class="column large-6 medium-12">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="column large-6 medium-12">
                    {{ form_row(form.lastname) }}
                </div>
                <div class="column large-6 medium-12">
                    {{ form_row(form.email) }}
                </div>
                <div class="column large-6 medium-12">
                    {{ form_row(form.sex, { 'attr': {'class': 'customCheckBox'} }) }}
                </div>
            </div>
            <div class="row">
                <div class="column large-6 medium-12">
                    {{ form_row(form.bakeFrequency) }}
                    {{ form_row(form.age, { 'attr': {'class': 'customCheckBox'} }) }}
                </div>
                <div class="column large-6 medium-12">
                    {{ form_row(form.bakeChoises, { 'attr': {'class': 'customCheckBox'} }) }}
                </div>
                <div class="column large-6 medium-12 clearBoth">
                    {{ form_row(form.children, { 'attr': {'class': 'customCheckBox'} }) }}
                </div>
            </div>
            <div class="hidden">
                {{ form_row(form.campaign) }}
            </div>
            {{ form_rest(form) }}
            <input type="submit" id="subscribeFormBtn" class="button" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            {{ form_end(form) }}
        #}
        <input type="submit" id="subscribeFormBtn" class="button" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
