<h3>Profile &amp; account settings</h3>
<p>Edit your profile and account settings</p>
<ul class="accordion" data-accordion role="tablist">

    <li class="accordion-navigation">
        <a href="#generic_details" role="tab" id="generic_details-heading" aria-controls="generic_details" title="Generic Details">
            Generic Details
        </a>
        <div id="generic_details" class="content active" role="tabpanel" aria-labelledby="generic_details-heading">
            <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(genericDetailsForm) }} method="POST" novalidate>
                {{ form_widget(genericDetailsForm) }}
                <input type="hidden" name="form_section" value="generic_details" />
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="button" />
            </form>
        </div>
    </li>

    <li class="accordion-navigation">
        <a href="#preferences"  role="tab" id="preferences-heading" aria-controls="preferences" title="Account preferences">
            Account preferences
        </a>
        <div id="preferences" class="content" role="tabpanel" aria-labelledby="preferences-heading">
            <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(accountPreferencesForm) }} method="POST" novalidate>
                {{ form_widget(accountPreferencesForm) }}
                <input type="hidden" name="form_section" value="preferences" />
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="button" />
            </form>
        </div>
    </li>

    <li class="accordion-navigation">
        <a href="#contact" role="tab" id="contact-heading" aria-controls="contact" title="Contact details">
            Contact details
        </a>
        <div id="contact" class="content" role="tabpanel" aria-labelledby="contact-heading">
            <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(contactDetailsForm) }} method="POST" novalidate>
                {{ form_widget(contactDetailsForm) }}
                <input type="hidden" name="form_section" value="contact" />
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="button" />
            </form>
        </div>
    </li>

    <li class="accordion-navigation">
        <a href="#password" role="tab" id="password-heading" aria-controls="password" title="Change password">
            Change password
        </a>
        <div id="password" class="content" role="tabpanel" aria-labelledby="password-heading">
            <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(passwordForm) }} method="POST" novalidate>
                {{ form_widget(passwordForm) }}
                <input type="hidden" name="form_section" value="password" />
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="button" />
            </form>
        </div>
    </li>
</ul>
