{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

<h3>{{ 'profile.edit.intro_title'|trans({}, 'SonataUserBundle') }}</h3>
<p>{{ 'profile.edit.intro_copy'|trans({}, 'SonataUserBundle') }}</p>
<ul class="accordion" data-accordion role="tablist">

    <li class="accordion-item is-active" data-accordion-item>
        <a class="accordion-title" href="#generic_details" role="tab" id="generic_details-heading" aria-controls="generic_details" title="{{ 'profile.edit.generic'|trans({}, 'SonataUserBundle') }}">
            {{ 'profile.edit.generic'|trans({}, 'SonataUserBundle') }}
        </a>
        <div id="generic_details" class="content accordion-content" role="tabpanel" aria-labelledby="generic_details-heading" data-tab-content>
            {{ form_start(genericDetailsForm, {'action': path('sonata_user_profile_edit'), 'method': 'POST', 'attr': {'id': 'sonata_user_generic_details_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    <small class="text-right">{{ 'form.mandatory_fields'|trans({}, 'SonataUserBundle') }}</small>
                </div>
                <div class="large-12 small-12 columns">
                    {{ form_widget(genericDetailsForm) }}
                </div>
                <div class="large-12 small-12 columns">
                    <input type="hidden" name="form_section" value="generic_details" />
                    <button type="submit" name="submit" id="userGenericDetailsFormBtn" class="button">
                        {{ 'profile.edit.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                    {% if formMessage is defined and formMessage is not empty %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {{ form_end(genericDetailsForm) }}
        </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#contact" role="tab" id="contact-heading" aria-controls="contact" title="{{ 'profile.edit.contact'|trans({}, 'SonataUserBundle') }}">
            {{ 'profile.edit.contact'|trans({}, 'SonataUserBundle') }}
        </a>
        <div id="contact" class="content accordion-content" role="tabpanel" aria-labelledby="contact-heading" data-tab-content>
            {{ form_start(contactDetailsForm, {'action': path('sonata_user_profile_edit'), 'method': 'POST', 'attr': {'id': 'sonata_user_contact_details_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    <small class="text-right">{{ 'form.mandatory_fields'|trans({}, 'SonataUserBundle') }}</small>
                </div>
                <div class="large-12 small-12 columns">
                    {{ form_widget(contactDetailsForm) }}
                </div>
                <div class="large-12 small-12 columns">
                    <input type="hidden" name="form_section" value="contact" />
                    <button type="submit" name="submit" id="userContactDetailsFormBtn" class="button">
                        {{ 'profile.edit.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                    {% if formMessage is defined and formMessage is not empty %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {{ form_end(contactDetailsForm) }}
        </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#preferences"  role="tab" id="preferences-heading" aria-controls="preferences" title="{{ 'profile.edit.preferences'|trans({}, 'SonataUserBundle') }}">
            {{ 'profile.edit.preferences'|trans({}, 'SonataUserBundle') }}
        </a>
        <div id="preferences" class="content accordion-content" role="tabpanel" aria-labelledby="preferences-heading" data-tab-content>
            {{ form_start(accountPreferencesForm, {'action': path('sonata_user_profile_edit'), 'method': 'POST', 'attr': {'id': 'sonata_user_account_preferences_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    <small class="text-right">{{ 'form.mandatory_fields'|trans({}, 'SonataUserBundle') }}</small>
                </div>
                <div class="large-12 small-12 columns">
                    {{ form_widget(accountPreferencesForm) }}
                </div>
                <div class="large-12 small-12 columns">
                    <input type="hidden" name="form_section" value="preferences" />
                    <button type="submit" name="submit" id="userAccountPreferencesFormBtn" class="button">
                        {{ 'profile.edit.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                    {% if formMessage is defined and formMessage is not empty %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {{ form_end(accountPreferencesForm) }}
        </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#media"  role="tab" id="media-heading" aria-controls="media" title="{{ 'profile.edit.media'|trans({}, 'SonataUserBundle') }}">
            {{ 'profile.edit.media'|trans({}, 'SonataUserBundle') }}
        </a>
        <div id="media" class="content accordion-content" role="tabpanel" aria-labelledby="media-heading" data-tab-content>
            {{ form_start(accountMediaForm, {'action': path('sonata_user_profile_edit'), 'method': 'POST', 'attr': {'id': 'sonata_user_account_media_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    <small class="text-right">{{ 'form.mandatory_fields'|trans({}, 'SonataUserBundle') }}</small>
                </div>
                <div class="large-12 small-12 columns">
                    {{ form_widget(accountMediaForm) }}
                </div>
                <div class="large-12 small-12 columns">
                    <input type="hidden" name="form_section" value="media" />
                    <button type="submit" name="submit" id="userAccountMediaFormBtn" class="button">
                        {{ 'profile.edit.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                    {% if formMessage is defined and formMessage is not empty %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {{ form_end(accountMediaForm) }}
        </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" href="#password" role="tab" id="password-heading" aria-controls="password" title="{{ 'profile.edit.change_pass'|trans({}, 'SonataUserBundle') }}">
            {{ 'profile.edit.change_pass'|trans({}, 'SonataUserBundle') }}
        </a>
        <div id="password" class="content accordion-content" role="tabpanel" aria-labelledby="password-heading" data-tab-content>
            {{ form_start(passwordForm, {'action': path('sonata_user_profile_edit'), 'method': 'POST', 'attr': {'id': 'sonata_user_change_password_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    <small class="text-right">{{ 'form.mandatory_fields'|trans({}, 'SonataUserBundle') }}</small>
                </div>
                <div class="large-12 small-12 columns">
                    {{ form_widget(passwordForm) }}
                </div>
                <div class="large-12 small-12 columns">
                    <input type="hidden" name="form_section" value="password" />
                    <button type="submit" name="submit" id="userPasswordFormBtn" class="button">
                        {{ 'profile.edit.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                    {% if formMessage is defined and formMessage is not empty %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                </div>
            </div>
            {{ form_end(passwordForm) }}
        </div>
    </li>
</ul>
