<div class="row">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate>
        {% if invalid_username is defined %}
            <div class="large-12 small-12 columns">
                <p class="alert alert-danger alert-error">
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'SonataUserBundle') }}
                </p>
            </div>
        {% endif %}

        <div class="large-12 small-12 columns">
            <label for="username" class="required">
                {{ 'resetting.request.username'|trans({}, 'SonataUserBundle') }}
                <input type="text" maxlength="50" id="username" name="username" placeholder="" required="required" />
            </label>
        </div>

        <div class="large-12 small-12 columns">
            <input type="submit" id="_submit" name="_submit" class="button" value="{{ 'resetting.request.submit'|trans({}, 'SonataUserBundle') }}" />
            <a class="button" href="{{ url('fos_user_registration_register') }}" title="{{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}">
                {{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}
            </a>
        </div>
    </form>
</div>
