<div class="row">
    <div class="large-12 small-12 columns">
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="fos_user_resetting_request" novalidate>
            <div class="row">
                <div class="large-12 small-12 columns">
                    <label for="username" class="required">
                        {{ 'resetting.request.username'|trans({}, 'SonataUserBundle') }}
                    </label>
                    <div class="formFieldContainer">
                        <input type="text" maxlength="50" id="fos_user_resetting_request_username" name="username" placeholder="" required="required" />
                    </div>
                </div>

                {% if formMessage is defined or invalid_username is defined %}
                <div class="large-12 small-12 columns">
                    {% if formMessage is defined %}
                        <small class="form-message formError alert-box alert">
                            {{ formMessage }}
                        </small>
                    {% endif %}
                    {% if invalid_username is defined %}
                        <small class="form-message formError alert-box alert">
                            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'SonataUserBundle') }}
                        </small>
                    {% endif %}
                </div>
                {% endif %}

                <div class="large-12 small-12 columns">
                    <button type="submit" name="submit" id="userResetPasswordFormBtn" class="button">{{ 'resetting.request.submit'|trans({}, 'SonataUserBundle') }}</button>
                    <a class="button" href="{{ url('fos_user_registration_register') }}" title="{{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}">
                        {{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
