{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}
        {{ form_start(form, {'action': path('sonata_user_resetting_reset', {'token': token}), 'method': 'POST', 'attr': {'id': 'sonata_user_resetting_form', 'novalidate': 'novalidate'} }) }}
            <div class="row">
                <div class="large-12 small-12 columns">
                    {{ form_widget(form) }}
                </div>
                <div class="large-12 small-12 columns">
                    {% if formMessage is defined %}
                        <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                            {{ formMessage }}
                        </span>
                    {% endif %}
                    <button type="submit" name="submit" id="userResetFormBtn" class="button">
                        {{ 'resetting.reset.submit'|trans({}, 'SonataUserBundle') }}
                    </button>
                </div>
                <div class="large-12 small-12 columns">
                    <a class="button" href="{{ url('sonata_user_registration_register') }}" title="{{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}">
                        {{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}
                    </a>
                </div>
            </div>
        {{ form_end(form) }}
