    <div class="row">
        {{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token}), 'method': 'POST', 'attr': {'novalidate': 'novalidate'} }) }}
            <div class="large-12 small-12 columns">
                {{ form_widget(form) }}
            </div>

            <div class="large-12 small-12 columns">
                <input type="submit" id="_submit" name="_submit" class="button" value="{{ 'resetting.reset.submit'|trans({}, 'SonataUserBundle') }}" />
                <a class="button" href="{{ url('fos_user_registration_register') }}" title="{{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}">
                    {{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}
                </a>
            </div>
        {{ form_end(form) }}
    </div>
