{% if form is defined %}
    {{ form_start(form, {'action': path('CommentBundle_blog_comment_add_no_slash', { 'associated_object_id' : page.id } ), 'method': 'POST', 'attr': {'id': 'commentform_form', 'novalidate': 'novalidate'} }) }}
    <div class="row">
        <div class="large-12 small-12 columns">
            <small class="right">{{ 'comment.form.mandatory_fields'|trans({}, 'BardisCMSCommentBundle') }}</small>
        </div>
        {{ form_row(form.title) }}
        {{ form_row(form.username) }}
        {{ form_row(form.comment) }}
        <div class="large-12 small-12 columns hidden">
            {{ form_row(form.bottrap) }}
            {{ form_row(form._token) }}
        </div>
        {{ form_rest(form) }}
        <div class="large-12 small-12 columns">
            <button type="submit" name="submit" id="submitCommentBtn" class="button">{{ 'comment.form.submit'|trans({}, 'BardisCMSCommentBundle') }}</button>
            {% if formMessage is defined %}
                <small class="form-message error">
                    {{ formMessage }}
                </small>
            {% endif %}
        </div>
    </div>
    {{ form_end(form) }}
{% endif %}
