{% block sonata_user_login %}
        <div class="row">

            {% block sonata_user_login_form %}
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" novalidate>

                    <div class="large-12 small-12 columns">
                        <label for="username" class="required">
                            <span class="prefix">{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}</span>
                            <input type="text" maxlength="50" id="username" name="_username" value="{{ last_username }}" placeholder="" required="required"  />
                        </label>

                        <label for="password" class="required">
                            <span class="prefix">{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}</span>
                            <input type="password" maxlength="50" id="password" name="_password" placeholder="" required="required"  />
                        </label>

                        {% block sonata_user_login_error %}
                            {% if error %}
                                <small class="error">{{ error|trans({}, 'SonataUserBundle') }}</small>
                            {% endif %}
                        {% endblock %}
                    </div>

                    <div class="large-12 small-12 columns">
                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <span>{{ 'security.login.remember_me'|trans({}, 'SonataUserBundle') }}</span>
                        </label>
                    </div>

                    <div class="large-12 small-12 columns">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <p>
                            <a href="{{ path('fos_user_resetting_request') }}" title="{{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}">
                                {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}
                            </a>
                        </p>
                        <p>
                            <input type="submit" id="_submit" name="_submit" class="button" value="{{ 'security.login.submit'|trans({}, 'SonataUserBundle') }}" />
                            <a class="button" href="{{ url('fos_user_registration_register') }}" title="{{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}">
                                {{ 'layout.link.create_account'|trans({}, 'SonataUserBundle') }}
                            </a>
                        </p>
                    </div>
                </form>
            {% endblock %}
        </div>
{% endblock %}
