{% if contentblocks|length > 1 %}
    <div id="slideshowTopBanner" class="slideshow large-12 small-12">
        <ul data-orbit>
            {% for contentBlock in contentblocks|sort_by_attribute('ordering') %}
                {% if contentBlock.publishedState == 1 and contentBlock.contentType == 'slide'%}
                    <li class="bannerSlide {% if contentBlock.className is not null %}{{ contentBlock.className }}{% endif %}" {% if contentBlock.idName is not null %}id="{{ contentBlock.idName }}"{% endif %}>
                        {% if contentBlock.slide.imageLinkURL is not empty %}
                            <a href="{{contentBlock.slide.imageLinkURL}}" title="{{contentBlock.slide.imageLinkTitle}}">
                            {% endif %}
                            {% if contentBlock.slide.imagefile.id is defined %}
                                {% media contentBlock.slide.imagefile.id, 'slide' with {'alt': contentBlock.slide.imageLinkTitle, 'title': '' } %}
                            {% else %}
                                <img src="/images/site_assets/defaultTopBanner.jpg" alt="{{ contentBlock.slide.imageLinkTitle }}" />
                            {% endif %}
                            {% if contentBlock.slide.imageLinkTitle is not empty %}
                                <div class="orbit-caption">{{ contentBlock.slide.imageLinkTitle }}</div>
                            {% endif %}
                            {% if contentBlock.slide.imageLinkURL is not empty %}
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div id="slideshowTopBanner" class="slideshow large-12 small-12">
        {% for contentBlock in contentblocks|sort_by_attribute('ordering') %}
            {% if contentBlock.publishedState == 1 and contentBlock.contentType == 'slide'%}
                <div class="bannerSlide {% if contentBlock.className is not null %}{{ contentBlock.className }}{% endif %}" {% if contentBlock.idName is not null %}id="{{ contentBlock.idName }}"{% endif %}>
                    {% if contentBlock.slide.imageLinkURL is not empty %}
                        <a href="{{contentBlock.slide.imageLinkURL}}" title="{{contentBlock.slide.imageLinkTitle}}">
                        {% endif %}
                        {% if contentBlock.slide.imagefile.id is defined %}
                            {% media contentBlock.slide.imagefile.id, 'slide' with {'alt': contentBlock.slide.imageLinkTitle, 'title': '' } %}
                        {% else %}
                            <img src="/images/site_assets/defaultTopBanner.jpg" alt="{{ contentBlock.slide.imageLinkTitle }}" />
                        {% endif %}
                        {% if contentBlock.slide.imageLinkTitle is not empty %}
                            <div class="orbit-caption">{{ contentBlock.slide.imageLinkTitle }}</div>
                        {% endif %}
                        {% if contentBlock.slide.imageLinkURL is not empty %}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
