<div class="large-12 small-12 columns {{ pageItem.pagetype }}Item {% if pageItem.introclass is not null %}{{ pageItem.introclass }}{% endif %}">
    <div class="row">
        {% if pageItem.introimage.id is defined %}
            <div class="columns large-5 small-12">
                {% if pageItem.alias is not null %}
                    <a href="{{ app.request.getBaseURL() }}/blog/{{ pageItem.alias }}" title="{{ pageItem.title }}" class="readMoreImage">
                    {% else %}
                        <a href="{{ url('BlogBundle_showPage', { 'id': pageItem.id }) }}" title="{{ pageItem.title }}" class="readMoreImage">
                        {% endif %}
                        {% media pageItem.introimage.id, 'blog' with {'alt': pageItem.title, 'title': ''} %}
                    </a>
            </div>
            <div class="columns large-7 small-12 introItemText">
            {% else %}
                <div class="large-12 small-12 columns introItemText">
                {% endif %}
                <h3>	
                    {% if pageItem.alias is not null %}
                        <a href="{{ app.request.getBaseURL() }}/blog/{{ pageItem.alias }}" title="{{ pageItem.title }}">
                        {% else %}
                            <a href="{{ url('BlogBundle_showPage', { 'id': pageItem.id }) }}" title="{{ pageItem.title }}">
                            {% endif %}
                            {{ pageItem.title }}
                        </a>
                </h3>
                <p class="date">
                    <span class="day">{{ pageItem.date|date("d") }}</span>
                    <span class="month">{{ pageItem.date|date("M") }}</span>
                    <span class="year">{{ pageItem.date|date("Y") }}</span>
                </p>
                {% if pageItem.tags is not null %}
                    <p class="tagList">
                        Tags: 
                        {% for title in pageItem.tags %}
                            <a class="tag" href="{{ app.request.getBaseURL() }}/blog/tagged/{{ title|url_encode() }}" title="{{ title }}">
                                {{ title }}          
                            </a> 
                        {% endfor %} 
                    </p>
                {% endif %}
                {% if pageItem.introtext is not null %}
                    <p>{{ pageItem.introtext|raw }}</p>
                {% endif %}
                <p class="readMore">
                    {% if pageItem.alias is not null %}
                        <a href="{{ app.request.getBaseURL() }}/blog/{{ pageItem.alias }}" title="Want more? Hit Me!">
                        {% else %}
                            <a href="{{ url('BlogBundle_showPage', { 'id': pageItem.id }) }}" title="Want more? Hit Me!">
                            {% endif %}
                            <span class="hasArrow">Read more</span>
                        </a>
                </p>
            </div>
        </div>
    </div>