<div class="large-12 small-12 columns callout primary smo-icons">
    <ul class="menu-smo menu simple">
        <li class="menu-text">
            Share:
        </li>
        <li>
            <a class="badge button fbIcon" href="http://www.facebook.com/sharer.php?u={{ app.request.uri|url_encode() }}" title="Share This on Facebook" target="_blank">
                <i class="fi-social-facebook"></i><span class="show-for-sr">Share This on Facebook</span>
            </a>
        </li>
        <li>
            <a class="badge button tweetIcon" href="http://twitter.com/share?text={{ page.title|url_encode() }}%20by%20Web%20%26%20Site&amp;url={{ app.request.uri|url_encode() }}" title="Tweet This" target="_blank">
                <i class="fi-social-twitter"></i><span class="show-for-sr">Tweet This</span>
            </a>
        </li>
        <li>
            <a class="badge button mailIcon" href="mailto:?Subject={{ page.title|url_encode(true) }}%20by%20Web%20%26%20Site&amp;Body=Check%20out%20this%20article%20for%20{{ page.title|url_encode(true) }}%20by%20Web%20%26%20Site%20at%20{{ app.request.uri|url_encode() }}" title="Mail This" target="_blank">
                <i class="fi-mail"></i><span class="show-for-sr">Mail This</span>
            </a>
        </li>
    </ul>
</div>
