<div id="contactFormHolder" class="small-12 large-12">
    {{ form_start(form, {'method': 'POST', 'attr': {'id': 'contactform_form', 'class': 'contactForm', 'novalidate': 'novalidate'} }) }}
        <div class="row">
            <div class="large-12 small-12 columns">
                <small class="text-right">
                    {{ 'contact_form.mandatory_fields'|trans({}, 'BardisCMSPageBundle') }}
                </small>
            </div>
            <div class="large-6 small-12 columns">
                {{ form_row(form.firstname) }}
            </div>
            <div class="large-6 small-12 columns">
                {{ form_row(form.surname) }}
            </div>
            <div class="large-12 small-12 columns">
                {{ form_row(form.email) }}
            </div>
            <div class="large-12 small-12 columns">
                {{ form_row(form.comment) }}
            </div>
            <div class="large-12 small-12 columns hidden">
                {{ form_row(form.bottrap) }}
            </div>

            <div class="large-12 small-12 columns">
                {{ form_rest(form) }}
                <button type="submit" name="submit" id="contactFormBtn" class="button">
                    {{ 'contact_form.submit'|trans({}, 'BardisCMSPageBundle') }}
                </button>
                {% if formMessage is defined and formMessage is not empty %}
                    <span class="form-message error form-error is-visible callout {% if form.vars.valid == true %}success{% else %}alert{% endif %}">
                        {{ formMessage }}
                    </span>
                {% endif %}
            </div>
        </div>
    {{ form_end(form) }}
</div>
