<div class="columns small-12 large-12">
    <div class="column callout secondary form-filter-results">
        <form id="filterResultsForm" name="filterResultsForm" action="{{ path('PageBundle_filtered') }}" method="post">
            {{ form_start(filterForm) }}

            <fieldset class="columns small-12 large-6 custom-checkbox">
                <legend>{{ form_label(filterForm.tags) }}</legend>
                {{ form_widget(filterForm.tags) }}
                {{ form_errors(filterForm.tags) }}
            </fieldset>

            <fieldset class="columns small-12 large-6 custom-checkbox">
                <legend>{{ form_label(filterForm.categories) }}</legend>
                {{ form_widget(filterForm.categories) }}
                {{ form_errors(filterForm.categories) }}
            </fieldset>

            <div class="columns small-12 large-12">
                {{ form_rest(filterForm) }}
                <button id="filterResultsBtn" class="button float-left" value="Search" type="submit">
                    Search
                </button>
                <button class="button alert float-left large-float-right" value="Reset" type="reset">
                    Reset Filters
                </button>
                {{ form_errors(filterForm) }}
            </div>
            {{ form_end(filterForm) }}
        </form>
    </div>
</div>
