{% if page.modalcontentblocks is not null %}
    {% for contentBlock in page.modalcontentblocks|sort_by_attribute('ordering') %}
        {% if contentBlock.publishedState == 1 %}
        <div class="reveal-modal contentBlock {% if contentBlock.className is not null %}{{ contentBlock.className }}{% endif %} small-12 {% if contentBlock.sizeClass is null %}large-12{% else %}{{ contentBlock.sizeClass }}{% endif %} columns {% if contentBlock.contentType == 'contact' %}{{ contentBlock.contentType }}{% endif %}" {% if contentBlock.idName is not null %}id="{{ contentBlock.idName }}"{% endif %} data-reveal>
            {% if contentBlock.showTitle == 1 %}
                <h3>{{ contentBlock.title }}</h3>
            {% endif %}
            {% if contentBlock.contentType == 'html' %}
                {{ contentBlock.htmlText|raw }}
            {% elseif contentBlock.contentType == 'image' %}
				{% if contentBlock.imageFiles|length > 1 %}
					<div id="slideshow_{{ contentBlock.id}}" class="slideshow large-12 small-12">
						<ul data-orbit>
						{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}
							{% if imageBlock.imageFile.id is defined %}
							<li>{% media imageBlock.imageFile.id, contentBlock.mediaSize with {'alt': contentBlock.title, 'title': '' } %}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				{% else %}
					{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}
							{% if imageBlock.imageFile.id is defined %}
							{% media imageBlock.imageFile.id, contentBlock.mediaSize with {'alt': contentBlock.title, 'title': '' } %}
							{% endif %}
					{% endfor %}
				{% endif %}
            {% elseif contentBlock.contentType == 'file' and contentBlock.fileFile.id is defined %}
                Download file: <a class="fileLink" href="{{ path('sonata_media_download', {'id': contentBlock.fileFile.id}) }}" target="_blank">{{ contentBlock.fileFile.name }}</a>
            {% elseif contentBlock.contentType == 'youtube' and contentBlock.youtube.id is defined %}
				<div class="flex-video">
                	{% media contentBlock.youtube.id, contentBlock.mediaSize %}
				</div>
            {% elseif contentBlock.contentType == 'vimeo'  and contentBlock.vimeo.id is defined %}
				<div class="flex-video vimeo">
                	{% media contentBlock.vimeo.id, contentBlock.mediaSize %}
				</div>
            {% elseif contentBlock.contentType == 'contact' %}                 
                    {% include 'PageBundle:Contents:contactFormHolder.html.twig' %} 
            {% else %}
                <p class="error">No content yet. Please Add content from the administation panel.</p>
            {% endif %}
				<a class="close-reveal-modal">&#215;</a>
        </div>
    {% endif %}
    {% endfor %}
{% endif %}