<div class="large-12 small-12 columns {{ pageItem.pagetype }}Item {% if pageItem.introclass is not null %}{{ pageItem.introclass }}{% endif %}">
    {% if pageItem.introimage.id is defined %}
        <a href="{{ app.request.getBaseURL() }}/{{ pageItem.alias }}" title="{{ pageItem.title }}" class="readMoreImage">
            {% media pageItem.introimage.id, 'big' with {'alt': pageItem.title, 'title': ''} %}
        </a>
    {% else %}
        <a href="{{ app.request.getBaseURL() }}/{{ pageItem.alias }}" title="{{ pageItem.title }}" class="readMoreImage">
            <img src="{{ app.request.uriForPath('/images/site_assets/default-category-list-item.jpg') }}" alt="{{ pageItem.title }}" />
        </a>
    {% endif %}

    <div class="introItemText">
        <h3>
            <a href="{{ app.request.getBaseURL() }}/{{ pageItem.alias }}" title="{{ pageItem.title }}">
                {{ pageItem.title }}
            </a>
        </h3>
        {% if pageItem.tags is not null %}
            <p class="tagList">
                Tags:
                {% for title in pageItem.tags %}
                    <a class="tag" href="{{ app.request.getBaseURL() }}/tagged/{{ title|url_encode() }}" title="{{ title }}">
                        {{ title }}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
        {% if pageItem.introtext is not null %}
            {{ pageItem.introtext|raw }}
        {% endif %}
        <a href="{{ app.request.getBaseURL() }}/{{ pageItem.alias }}" title="Read more">
            <span>Read more</span>
        </a>
    </div>
</div>
