{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
    <div style="display:inline;">
        {% if user %}
            <a href="{{ path('sonata_user_profile_show') }}">{{ user.username }}</a> |
            <a href="{{ path('sonata_user_security_logout') }}">{{ 'link_logout' | trans({}, "SonataUserBundle") }}</a>
        {% else %}
            <a href="{{ path('sonata_user_security_login') }}">{{ 'link_login'|trans({}, 'SonataUserBundle') }} / {{ 'link_register'|trans({}, 'SonataUserBundle') }}</a>
        {% endif %}
    </div>
{% endblock %}
