<div class="twelve columns smoIcons">
    <ul>
        <li>
            <a class="smoIcon fbIcon" href="http://www.facebook.com/sharer.php?u={{ app.request.uri|url_encode() }}&amp;t={{ page.title|url_encode() }}%20-%20Maynard%20Malone" title="Share This on Facebook" target="_blank"></a>
        </li>
        <li>
            <a class="smoIcon tweetIcon" href="http://twitter.com/share?text={{ page.title|url_encode() }}%20-%20Maynard%20Malone&amp;url={{ app.request.uri|url_encode() }}" title="Tweet This" target="_blank"></a>
        </li>
        <li>
            <a class="smoIcon linkedinIcon" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ app.request.uri|url_encode() }}&amp;title={{ page.title|url_encode() }}%20-%20Maynard%20Malone&amp;source={{ app.request.uri|url_encode() }}" title="Share This on LinkedIn" target="_blank"></a>
        </li>
        <li>
            <a class="smoIcon gplusIcon" href="https://plus.google.com/share?url={{ app.request.uri|url_encode() }}" title="Share This on Google+" target="_blank"></a>
        </li>
    </ul>
</div>