<ul id=".photoswipegallery1" class="photoswipegallery">
    <li><a href="{{ app.request.uriForPath('/images/site_assets/top_slides/slide1.jpg') }}"><img alt="slide1" src="{{ app.request.uriForPath('/images/site_assets/top_slides/slide1.jpg') }}" /></a></li>
    <li><a href="{{ app.request.uriForPath('/images/site_assets/top_slides/slide2.jpg') }}"><img alt="slide2" src="{{ app.request.uriForPath('/images/site_assets/top_slides/slide2.jpg') }}" /></a></li>
    <li><a href="{{ app.request.uriForPath('/images/site_assets/top_slides/slide3.jpg') }}"><img alt="slide3" src="{{ app.request.uriForPath('/images/site_assets/top_slides/slide3.jpg') }}" /></a></li>
</ul>
