{% extends '::base.html.twig' %}

{% block title %}{{ page.pagetitle }}{% endblock %}
{% block metaDescription %}{{ page.description }}{% endblock %}
{% block metaKeywords %}{{ page.keywords }}{% endblock %}
{% block metaAuthor %}{{ page.metaAuthor }}{% endblock %}

{% block OgTitle %}{{ page.pagetitle }}{% endblock %}
{% block OgSiteName %}{{ page.pagetitle }}{% endblock %}
{% block metaOgDescription %}{{ page.description }}{% endblock %}

{% block siteLogoTitle %}{{ page.pagetitle }}{% endblock %}
{% block siteLogoKeywords %}{{ page.keywords }}{% endblock %}
{% block siteLogoDescription %}{{ page.title }} {{ page.description }}{% endblock %}

{% block body_start %}
    {% if page.bannercontentblocks is not empty %}
        <div class="pageTopBanner">		
            {% include 'BlogBundle:Contents:bannercontentblocks.html.twig' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="large-12 small-12 columns blogPage blogArticlePage{% if page.pageclass is not null %}{{ page.pageclass }}{% endif %}">
        {% if page.pagetype == 'blog_article' %}
            <div class="row">
                {% include 'BlogBundle:Contents:blog-article.html.twig' %}            
            </div>
        {% elseif page.pagetype == 'blog_cat_page' or page.pagetype == 'blog_filtered_list' or  page.pagetype == 'blog_home' %} 
            <div class="row blogContent contentRow">
                <div class="large-12 small-12 columns">
                    <h2>{{ page.title }}</h2>
                </div>			
                {% if page.maincontentblocks is not empty %}
                    <div class="large-12 small-12 columns">
                        {% include 'BlogBundle:Contents:maincontentblocks.html.twig' %}
                    </div>
                {% endif %}
                {% if page.pagetype == 'blog_filtered_list' %} 
                    <div class="row"> 
                        {% include 'BlogBundle:Contents:filterBlogPostsFormHolder.html.twig' %}
                    </div>
                {% endif %}
            </div>
            <div class="row {{ page.pagetype }} itemsList categoryListing"> 
                {% if pages %}
                    {% for pageItem in pages %}				
                        <div class="large-6 small-12 columns categoryListingItem categoryListingItem{{ loop.index0 }} {% if loop.index0 is odd %}{% endif %}">
                            <div class="row">
                                {% include 'BlogBundle:Contents:page-list-item.html.twig' %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}				
            </div>

            {% if page.pagetype == 'blog_filtered_list' %} 
                {% include 'BlogBundle:Contents:tags-pagination.html.twig' %}
            {% else %} 
                {% include 'BlogBundle:Contents:pagination.html.twig' %}            
            {% endif %}		

        {% endif %}

        {% if page.extracontentblocks is not empty %}
            <div class="row contentFooter">
                {% include 'BlogBundle:Contents:extracontentblocks.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block gAnalytics %}{% include 'PageBundle:Contents:ga.html.twig' %}{% endblock %}

{% block modal %}
    {% include 'BlogBundle:Contents:modalcontentblocks.html.twig' %}
{% endblock %}